@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-shape-divider-bottom-1676559927 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1676559927 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 186px;
}

.custom-shape-divider-bottom-1676559927 .shape-fill {
  fill: #FE6709;
}